body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main {
  width: auto;
  max-width: 680px;
}
a {
  color: #00B7FF;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.city-list li::after {
    clear: both;
    content: '';
    display: table;
}

.city-list li a:last-child {
    float: left;
    padding-right: 10px;
}