body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-horizontal {
	max-width: 500px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.city-list li::after {
    clear: both;
    content: '';
    display: table;
}

.city-list li a:last-child {
    float: left;
    padding-right: 10px;
}